{
  "checks": {
    "metric_cpu": {
      "CPU usage": "http://{{mon_public}}:{{grafana_ext_port}}/render/d-solo/RQF51232ask/fileservers?orgId=1&panelId=4&width=1000&height=500&tz=Europe%2FStockholm&uchiwa_force_display_as_image=.jpg",
      "command": "/opt/sensu/embedded/bin/metrics-cpu-pcnt-usage.rb --scheme cpu.fs.:::name:::",
      "handlers": [
        "graphite_tcp"
      ],
      "interval": 5,
      "standalone": true,
      "subscribers": [
        "fileserver"
      ],
      "type": "metric"
    }
  }
}
