{
  "checks": {
    "metric_memory": {
      "Memory usage": "http://{{mon_public}}:{{grafana_ext_port}}/render/d-solo/RQFYq-321xi32k/database?orgId=1&panelId=5&width=1000&height=500&tz=Europe%2FStockholm&uchiwa_force_display_as_image=.jpg",
      "command": "/opt/sensu/embedded/bin/metrics-memory.rb --scheme memory.db.:::name:::",
      "handlers": [
        "graphite_tcp"
      ],
      "interval": 5,
      "standalone": true,
      "subscribers": [
        "database"
      ],
      "type": "metric"
    }
  }
}
